data.txt
CMakeFiles/TpSQL.dir/main.cpp.o
.idea/csv-plugin.xml
TpSQL
CMakeCache.txt
CMakeFiles/3.16.3/
CMakeFiles/CMakeTmp
CMakeFiles/CMakeTmp/
CMakeFiles/TpSQL.dir/CXX.includecache
*.cmake
# Compiled Object files
*.o
*.slo
*.ko
*.lo
*.obj
*.elf

# Local
local*
.idea/
.vscode/
cmake-build-debug/
.DS_Store
venv
*.log
