# файлы которые можно и стереть
data.txt
CMakeFiles/TpSQL.dir/main.cpp.o
.idea/csv-plugin.xml
TpSQL



# Compiled Object files
*.o
*.slo
*.ko
*.lo
*.obj
*.elf

# Local
local*
.idea/
.vscode/
cmake-build-debug/
.DS_Store
venv
*.log
