data.txt
CMakeFiles/TpSQL.dir/main.cpp.o
.idea/csv-plugin.xml
TpSQL
CMakeCache.txt
CMakeFiles/3.16.3/
CMakeFiles/CMakeTmp
CMakeFiles/CMakeTmp/
CMakeFiles/TpSQL.dir/CXX.includecache
CMakeFiles/TpSQL.dir/depend.internal
CMakeFiles/TpSQL.dir/depend.make
CMakeFiles/TpSQL.dir/link.txt
CMakeFiles/TpSQL.dir/flags.make
CMakeFiles/TpSQL.dir/progress.make
CMakeFiles/TpSQL.dir/project
CMakeFiles/TpSQL.dir/project/

CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/cmake.check_cache

*.cmake
# Compiled Object files
*.o
*.slo
*.ko
*.lo
*.obj
*.elf

# Local
local*
.idea/
.vscode/
cmake-build-debug/
.DS_Store
venv
*.log
